In [3]:
import pandas as pd 

data = {'이름' : ['진', '뷔', '정국', '슈가', '제이홉', 'RM', '지민'],
        '출생년도' : [1992, 1995, 1997, 1993, 1994, 1994, 1995],
        '출생지' : ['과천', '대구', '부산', '대구', '광주', '서울', '부산'],
        '담당파트' : ['서브보컬', '서브보컬', '메인보컬', '리드래퍼','메인댄서', '리더', '메인댄서'],
        '체중' : [61,63,66,57,59,70,58]
}

df=pd.DataFrame(data,index = ['1번','2번','3번','4번','5번','6번','7번' ])
df.index.name = '번호'

In [4]:
#DataFrame을 csv로 저장
df.to_csv('memver.csv',encoding='utf-8-sig') #인코딩 지정
df.to_csv('memver.csv',encoding='utf-8-sig',index = False) #인덱스 포함 x

In [5]:
#DataFrame을 excel로 저장
df.to_excel('memver.xlsx')

In [8]:
#csv 파일 열기
df = pd.read_csv('memver.csv')
df

   번호   이름  출생년도 출생지  담당파트  체중
0  1번    진  1992  과천  서브보컬  61
1  2번    뷔  1995  대구  서브보컬  63
2  3번   정국  1997  부산  메인보컬  66
3  4번   슈가  1993  대구  리드래퍼  57
4  5번  제이홉  1994  광주  메인댄서  59
5  6번   RM  1994  서울    리더  70
6  7번   지민  1995  부산  메인댄서  58

In [20]:
#excel 파일 열기
df = pd.read_excel('memver.xlsx')
df = pd.read_excel('memver.xlsx', index_col='번호')
df.loc[:,'이름':'체중']

    이름  출생년도 출생지  담당파트  체중
0    진  1992  과천  서브보컬  61
1    뷔  1995  대구  서브보컬  63
2   정국  1997  부산  메인보컬  66
3   슈가  1993  대구  리드래퍼  57
4  제이홉  1994  광주  메인댄서  59
5   RM  1994  서울    리더  70
6   지민  1995  부산  메인댄서  58

In [21]:
df = pd.read_excel('memver.xlsx', index_col='번호')
df

     이름  출생년도 출생지  담당파트  체중
번호
1번    진  1992  과천  서브보컬  61
2번    뷔  1995  대구  서브보컬  63
3번   정국  1997  부산  메인보컬  66
4번   슈가  1993  대구  리드래퍼  57
5번  제이홉  1994  광주  메인댄서  59
6번   RM  1994  서울    리더  70
7번   지민  1995  부산  메인댄서  58